.box{
    padding: 20px 40px;
    box-shadow: 0 0 10px 1px;
    min-height: 330px;
    max-width: 300px;
    text-align: center;
}
.box-group .col-3 .box{
}
.row::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}